
div#Menu {
  background-color: #FFFFFF;
  height: 7%;
  width: 98%;
  left: 1%;
  position: absolute;
  top: 1%;
}

div#Cuerpo {
  background-color: ;
  height: 90%;
  width: 98%;
  left: 1%;
  position: absolute;
  top: 8%;
}



